# Dependencies

node_modules/

# Build files

dist/
build/

# Environment variables

.env
.env.*
*.env

# Allow safe example environment files

!.env.example
!*.env.example

# Logs

*.log

# OS files

.DS_Store
Thumbs.db

# IDE / Editor files

.vscode/
.idea/

# Parcel

.parcel-cache/
